@import "variables.scss";

.btn {
  padding: 10px;
  // margin-top: 15px 0px;
  font-size: 0.8em;
  border-radius: 8px;
  border: none;
  outline: none;
  cursor: pointer;
}

.btn-nav {
  margin-top: -150px;
}

.btn-lg {
  width: 100%;
  margin: 15px 10px;
}

.btn-s {
  box-shadow: 3px 5px;
}

.btn-primary {
    background: $primary-color;
}

.btn-black {
    background: var(--black);
    color: var(--white);
    font-weight: bold;
}

.link-grey {
    color: $light-grey;
}
