@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
html {
  --white: #fff;
  --black: #000;
  transition: .3s all; }

html[data-theme="dark"] {
  --black: #fff;
  --white: #000; }

html body {
  margin: 0;
  padding: 0;
  background: #dbd7d7;
  font-family: "Ubuntu", sans-serif; }
